
/* main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 10px 0 0 20px;
    background: rgb(34, 33, 33, 0.6);
    border-radius: 10px;
    width: 95vw;
    height: 50px;
    
} */
