/* CARD CSS */
body{
    overflow: scroll;
    scroll-behavior: smooth;
}
main {
    display: flex;
    max-width: 98vw;
    box-sizing: border-box;
    

}
.card-wraper{
    display: flex;
    flex-wrap: wrap;
    width: 99vw;
    justify-content: center;
    align-content: center;

}
.card {
    border: 0.12rem solid black;
    background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
    border-radius: 1.25rem;
    margin: 0.625rem 1.125rem;
    width: 17.4rem;
    height: 22.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.card img {
    width: 16.5rem;
    height:12.5rem;
    border-radius: 1.5rem;
    padding: 6px;
}

.card h3 {
    font-size: 1.3rem;
    text-align: center;
}

.card p {
    padding: 5px;
    text-align: center;
    

    font-size: 1.1rem;
}

.card h3 a {
    text-decoration: none;
}

.button {
    position: absolute;
    top: 5rem;
    right: 2rem;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background: rgb(118, 196, 16);
    cursor: pointer;
}

.button:hover {
    background-color: whitesmoke;
    color: rgb(94, 90, 90);
    font-weight: bold;
    box-shadow: 5px 5px 3px grey;
}
.aside-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.aside-wraper div{
    
    
    width: 82vw;
    max-height: 80vh;
    min-height: 50vh;
    color: rgb(255, 255, 255);
    background-color: rgb(76, 96, 150);
    margin: 0.625rem 1.8rem 0.625rem 0;
    border-radius: 0.8rem;
    /* TO ADD SCROLLBAR AFTER MAX HEIGHT*/
}
aside{
    overflow-y: auto;
}


aside h1{
    text-align: center;
    position:sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.842);
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.7rem 0;
    color: wheat;

}
aside h3{
    text-align: center;
    margin-top: 1rem;
    
}
/* Booking form */

/* #main-form{
    /* display: none; 
} */

.form-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    opacity: 0;
    pointer-events: none;

}

.book-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    transition: all .4s ease-in-out;

}

.h3 {
    margin-left: 0px;
    font-size: 35px;
    margin: 5px 0px;
    color: #ffffff;
    text-shadow: 3px 2px 5px rgba(255, 251, 251, 0.4);

}

.book-form label {
    font-size: 25px;
    display: block;
    word-spacing: 10px;
    margin: 10px 10px;
    color: #ffffff;
    text-shadow: 3px 2px 5px rgba(255, 251, 251, 0.4);
}

.form-input {
    font-size: 20px;
    padding: 2px 15px;
    font-weight: 300;
    outline: none;
    color: rgb(44, 41, 41);
    width: 350px;
    box-shadow: 3px 2px 5px rgba(255, 251, 251, 0.4);
}

.for-btn {
    display: flex;
}

.btn-2 {
    margin: 20px;
    margin: 20px;
    padding: 10px;
    display: flex;
    font-size: 1rem;
    color: whitesmoke;
    background: rgb(11, 179, 67);
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    align-items: center;
    justify-content: center;

}

#submit-form:hover {
    background: darkgreen;
    box-shadow: 2px 2px 5px 3px grey;
}

#reset-form {
    background: #e01462;

}

#reset-form:hover {
    background: #461427;
    box-shadow: 2px 2px 5px 3px grey;
}

#cancle-form {
    position: absolute;
    cursor: pointer;
    font-size: 45px;
    top: 25px;
    right: 30px;
    outline: none;
    font-weight: bold;
    border: none;
    background: none;
    color: rgb(180, 177, 177);
}

#cancle-form:hover {
    color: rgb(255, 2, 2);
}

.error {
    color: tomato;
    margin-left: 10px;
    font-size: 17px;
    display: block;
}

/* .label-input{
    display: none; 
} */
.form-confirmation {

    position: relative;
    top: 120px;
    left: 50px;
    width: 30vw;
    height: 60vh;
    padding: 10px;

    display: none
}

#confirm-h {
    display: flex;
    /* margin:50px; */
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    width: 25vw;
    line-height: 2rem;
    color: whitesmoke;
    justify-content: center;
}

/* Addiable class by javascript */


.active {
    opacity: 1;
    pointer-events: auto;

}

#wrapper.active .book-form {
    transform: translateY(0px);

}

@media only screen and (max-width : 1283px) and (min-width:1218px){
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 16.4rem;
        height: 21.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 15.5rem;
        height:12.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    
    .card h3 a {
        text-decoration: none;
    }
    
    
    
    
}
@media only screen and (max-width : 1217px) and (min-width:1153px){
    .button {
        position: absolute;
        top: 3rem;
        right: 2rem;
    
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 15.4rem;
        height: 21.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 14.5rem;
        height:12.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    
    
    
    
}

@media only screen and (max-width : 1152px)and (min-width:1088px){
    .button {
        position: absolute;
        top: 3rem;
        right: 2rem;
    
}

    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 14.4rem;
        height: 21.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 13.5rem;
        height:11.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.1rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    
    .card h3 a {
        text-decoration: none;
    }
    
    
    
}
@media only screen and (max-width : 1087px) and (min-width:1023px){
    .button {
        position: absolute;
        top: 3rem;
        right: 2rem;
    
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 13.4rem;
        height: 19.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 12.5rem;
        height:10.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    
    .card h3 a {
        text-decoration: none;
    }
    .button{
        width: 8rem;
    }
    
    
}
@media only screen and (max-width : 1022px) and (min-width: 996px){
    .button {
        position: absolute;
        top: 3rem;
        right: 2rem;
    
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 13rem;
        height: 18.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 12.5rem;
        height:9.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    
    .card h3 a {
        text-decoration: none;
    }
    .button{
        width: 8rem;
    }
    
    
    
    
}
@media only screen and (max-width : 995px) and (min-width : 983px) {
    .button {
        position: absolute;
        top: 3rem;
        right: 2rem;
    }
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 12.8rem;
        height: 16.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 12rem;
        height:9.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .card h3 a {
        text-decoration: none;
    }
}
@media only screen and (max-width : 982px) and (min-width :885px) {
    .button {
        position: absolute;
        top: 2rem;
        right: 5rem;
        width: 7rem;

    
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 24rem;
        height: 22.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 22rem;
        height:13.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1.2rem;
    }
    aside-wraper div{
        width: 43vw;
        max-height: 20vh;
        min-height: 10vh;
        color: rgb(255, 255, 255);
        background-color: rgb(76, 96, 150);
        margin: 0.625rem 1.8rem 0.625rem 0;
        border-radius: 0.8rem;
        /* TO ADD SCROLLBAR AFTER MAX HEIGHT*/
    }
}
@media only screen and (max-width : 884px) and (min-width: 801px) {
    .button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 7rem;

    
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 20rem;
        height: 19.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 19rem;
        height:12.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    aside-wraper div{
        width: 43vw;
        max-height: 20vh;
        min-height: 10vh;
        color: rgb(255, 255, 255);
        background-color: rgb(76, 96, 150);
        margin: 0.625rem 1.8rem 0.625rem 0;
        border-radius: 0.8rem;
        /* TO ADD SCROLLBAR AFTER MAX HEIGHT*/
    }
    
}
@media only screen and (max-width : 800px) and (min-width: 727px) {
    .button {
        position: absolute;
        top: 1.2rem;
        right: 6rem;
        width: 7rem;
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 20rem;
        height: 19.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 19rem;
        height:12.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    aside-wraper div{
        width: 43vw;
        max-height: 20vh;
        min-height: 5vh;
        color: rgb(255, 255, 255);
        background-color: rgb(76, 96, 150);
        margin: 0.625rem 1.8rem 0.625rem 0;
        border-radius: 0.8rem;
        /* TO ADD SCROLLBAR AFTER MAX HEIGHT*/
    }
    
}
@media only screen and (max-width : 726px) and (min-width: 629px) {
    .button {
        position: absolute;
        top: 1.2rem;
        right: 6rem;
        width: 7rem;
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 17rem;
        height: 19.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 16rem;
        height:12.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    aside-wraper div{
        width: 43vw;
        max-height: 20vh;
        min-height: 10vh;
        color: rgb(255, 255, 255);
        background-color: rgb(76, 96, 150);
        margin: 0.625rem 1.8rem 0.625rem 0;
        border-radius: 0.8rem;
        /* TO ADD SCROLLBAR AFTER MAX HEIGHT*/
    }
    
}
@media only screen and (max-width : 628px) and (min-width: 564px) {
    .button {
        position: absolute;
        top: 1rem;
        right: 6rem;
        width: 6rem;
        height: 2.5rem;
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 15rem;
        height: 19.5rem;
        box-sizing: border-box;
        
    }
    
    
    .card img {
        margin-left: 4px;
        width: 14rem;
        height:12.5rem;
        border-radius: 1.5rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    aside-wraper div{
        width: 43vw;
        max-height: 20vh;
        min-height: 10vh;
        color: rgb(255, 255, 255);
        background-color: rgb(76, 96, 150);
        margin: 0.625rem 1.8rem 0.625rem 0;
        border-radius: 0.8rem;
        /* TO ADD SCROLLBAR AFTER MAX HEIGHT*/
    }
    
}
@media only screen and (max-width : 563px) and (min-width: 466px) {

    .button {
        position: absolute;
        top: 1rem;
        right: 6rem;
        width: 5rem;
        font-size: 0.8rem;
        font-weight: 500;
        height: 2.5rem;
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 12rem;
        height: 18rem;
        box-sizing: border-box;
        padding: 0.8rem 0 0 0;
        
    }
    
    
    .card img {
        width: 11.2rem;
        height:12.5rem;
        border-radius: 1rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.1rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 0.8rem;
    }
    aside-wraper div{
        width: 43vw;
        max-height: 20vh;
        min-height: 10vh;
        color: rgb(255, 255, 255);
        background-color: rgb(76, 96, 150);
        margin: 0.625rem 1.8rem 0.625rem 0;
        border-radius: 0.8rem;
        /* TO ADD SCROLLBAR AFTER MAX HEIGHT*/
    }
    
}
@media only screen and (max-width : 465px) /*and (max-width: 466px)*/ {

    .button {
        position: absolute;
        top: 1rem;
        right: 4rem;
        width: 4.2rem;
        font-size: 0.8rem;
        font-weight: 500;
        height: 2rem;
        border-radius: 5px;
        padding: 2px;
}
    card-wraper{
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        border: 0.12rem solid black;
        background-image: linear-gradient(to right, rgb(230, 116, 29), rgb(245, 245, 245));
        border-radius: 1.25rem;
        margin: 0.625rem 1.125rem;
        width: 80vw;
        height: 21rem;
        box-sizing: border-box;
        padding: 0.8rem 0 0 0;
        
    }
    
    
    .card img {
        width: 78vw;
        height:18;
        border-radius: 1rem;
        padding: 6px;
    }
    
    .card h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .card p {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
    }
    aside-wraper div{
        width: 86vw;
        max-height: 20vh;
        border-radius: 0.8rem;
        /* TO ADD SCROLLBAR AFTER MAX HEIGHT*/
    }
    
}












/* .gallery{
    display: flex;
    justify-content: start;
    width: 45%;
    height: 450px;
    box-sizing: border-box;
    padding: 20px;
    margin: 5px 15px;
}
legend{
    font-weight: bold;

}
#images img{
    width: 80px;
    margin: 5px;
}  */

/* MEDIA QUERRY FOR MOBILE */


/* ////////////////////////////////////////////////////// */
/* MEDIA QUERRY FOR MOBILE landscape*/

@media only screen and (max-width:200px) {

    main {
        flex-wrap: wrap;
    }

    .flex-card {
        margin: auto;
        overflow: hidden;
        justify-content: space-around;
    }

    .card {
        margin: 0.6rem;
        width: 50vw;
        height: 36vh;
    }

    .card img {
        display: block;
        width: 10.12rem;
        height: 7.5rem;
        margin: auto;

    }

    .card h3 {
        font-size: 1rem;
    }

    .card p {
        padding: 0.6rem;
        text-align: center;

        font-size: 0.8rem;
    }

    .book-form {
        align-items: flex-start;
        justify-content: flex-start;
        width: 21.25rem;
        border-radius: 0.95rem;
        padding: 0.8rem;
    }

    .h3 {
        font-size: 1.25rem;
        margin: 0.95rem 3.8rem;


    }

    .card button {
        margin: 0.18rem 1.25rem 0.6rem 3.12rem;
        padding: 2px;
        font-size: 0.7rem;
        font-weight: bold;
        color: whitesmoke;
        background: rgb(3, 162, 42);
        cursor: pointer;
        border-radius: 0.132rem;
    }

    .card button:hover {
        background-color: whitesmoke;
        color: rgb(94, 90, 90);
        font-weight: bold;
        box-shadow: 0.062rem 0.12rem 0.062rem grey;
    }

    .book-form label {
        font-size: 0.95rem;
        display: block;
        word-spacing: 0.1rem;
        margin: 0.13rem;

    }

    .form-input {
        font-size: 0.95rem;
        padding: 0.12rem 0.95rem;
        font-weight: 200;
        outline: none;
        width: 18.75rem;

    }

    #cancle-form {
        position: absolute;
        cursor: pointer;
        font-size: 2.8rem;
        top: -0.95em;
        right: 1.25rem;
    }

    .error {
        font-size: 0.62rem;
        margin-left: 1.25rem;
    }

    .form-confirmation {
        width: 12.5rem;
        margin-top: -1.25rem;
    }

    #confirm-h {
        font-size: 0.93rem;
        width: 11.25rem;
        line-height: 1rem;
        justify-content: right;
        align-items: flex-start;
    }

}